# Sheet 3 - Practical Exercise

In [62]:
#Import packages and Dataset
import numpy as np
import pandas as pd

fifa20 = pd.read_csv("fifa_20.csv")#Change path according to your files

print(fifa20.head())

   sofifa_id                                         player_url  \
0     158023  https://sofifa.com/player/158023/lionel-messi/...
1      20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
2     190871  https://sofifa.com/player/190871/neymar-da-sil...
3     200389  https://sofifa.com/player/200389/jan-oblak/20/...
4     183277  https://sofifa.com/player/183277/eden-hazard/2...

          short_name                            long_name  age         dob  \
0           L. Messi       Lionel Andrés Messi Cuccittini   32  1987-06-24
1  Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   34  1985-02-05
2          Neymar Jr        Neymar da Silva Santos Junior   27  1992-02-05
3           J. Oblak                            Jan Oblak   26  1993-01-07
4          E. Hazard                          Eden Hazard   28  1991-01-07

   height_cm  weight_kg nationality                 club  ...   lwb   ldm  \
0        170         72   Argentina         FC Barcelona  ...  68+2  66+2
1        187         83    Portugal             Juventus  ...  65+3  61+3
2        175         68      Brazil  Paris Saint-Germain  ...  66+3  61+3
3        188         87    Slovenia      Atlético Madrid  ...   NaN   NaN
4        175         74     Belgium          Real Madrid  ...  66+3  63+3

    cdm   rdm   rwb    lb   lcb    cb   rcb    rb
0  66+2  66+2  68+2  63+2  52+2  52+2  52+2  63+2
1  61+3  61+3  65+3  61+3  53+3  53+3  53+3  61+3
2  61+3  61+3  66+3  61+3  46+3  46+3  46+3  61+3
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  63+3  63+3  66+3  61+3  49+3  49+3  49+3  61+3

[5 rows x 104 columns]

Take the following SQL-Queries and use Pandas to achieve the same result.

### First Query
```sql
SELECT short_name, overall, value_eur, wage_eur 
FROM fifa_20 
WHERE overall > 80 and club = 'Borussia Dortmund'
```

In [28]:
#Recreate the first query with pandas

df = fifa20.loc[(fifa20['overall'] >= 80)  & (fifa20['club'] == 'Borussia Dortmund')]
df = df[['short_name', 'overall', 'value_eur', 'wage_eur']]

print(df.head())

     short_name  overall  value_eur  wage_eur
37      M. Reus       88   56000000    170000
49   M. Hummels       87   41000000    130000
88     R. Bürki       85   32000000     92000
102   A. Witsel       85   31500000    110000
108   J. Sancho       84   44500000     61000

### Second Query
```sql
SELECT short_name, overall 
FROM fifa_20 
WHERE club in ('Borussia Dortmund','FC Bayern München') and nationality = 'France'
```

In [64]:
#Recreate the second query with pandas

df = fifa20.loc[(fifa20['nationality'] == 'France')  & ((fifa20['club'] == 'Borussia Dortmund')|(fifa20['club'] == 'FC Bayern München'))]
df = df[['short_name', 'overall']]

print(df)

         short_name  overall
114    L. Hernández       84
119        K. Coman       84
166      C. Tolisso       83
588      D. Zagadou       79
597       B. Pavard       79
3302    M. Cuisance       72
15328   K. Bafounta       59

### Third Query
```sql
SELECT nationality, count(*) 
FROM fifa_20 
GROUP BY nationality 
ORDER BY count
```

In [65]:
#Recreate the third query with pandas

df = fifa20['nationality'].value_counts().sort_values(ascending = TRUE)


print(df)

NameError: name 'TRUE' is not defined

### Fourth Query
```sql
SELECT club, count(*) 
FROM fifa20 
WHERE potential > 85 
GROUP BY club having count(*) > 10
ORDER BY count(*) desc
```

In [72]:
#Recreate the fourth query with pandas

df = fifa20.loc[(fifa20['potential'] > 85)]
df = df['club'].value_counts()
df = df[df > 10]

print(df)

Norwich City              33
Lecce                     33
Sheffield United          33
Brighton & Hove Albion    33
RB Leipzig                33
                          ..
Melbourne Victory         19
Egypt                     17
Hungary                   12
South Africa              12
Iceland                   11
Name: club, Length: 668, dtype: int64

### Fifth Query
For the last query we create two additional dataframes that you have to join

In [53]:
#Do NOT change this code 
player_values = fifa20[['short_name','club','age','height_cm','weight_kg']]
fifa_club = fifa20[['short_name','club','overall','potential']]

```sql
SELECT short_name, age, overall 
FROM player_values JOIN fifa_club on fifa_club.short_name = player_values.short_name
WHERE fifa_club.club == 'Borussia Dortmund'
```

In [66]:
#Recreate the fifth query with pandas

fifa_club = fifa_club.loc[fifa_club["club"] == "Borussia Dortmund"]
df = pd.merge(player_values, fifa_club, on='short_name', how='inner')
df = df[["short_name", "age", "overall"]]

print(df)

        short_name  age  overall
0          M. Reus   30       88
1       M. Hummels   30       87
2         R. Bürki   28       85
3        A. Witsel   30       85
4        J. Sancho   19       84
5        J. Brandt   23       84
6        M. Akanji   23       83
7     Paco Alcácer   25       83
8         M. Götze   27       82
9       T. Delaney   27       82
10       N. Schulz   26       82
11       T. Hazard   26       82
12    R. Guerreiro   25       81
13     L. Piszczek   34       81
14        J. Weigl   23       80
15       A. Hakimi   20       79
16      D. Zagadou   20       79
17       M. Dahoud   23       78
18         M. Hitz   31       78
19    M. Schmelzer   31       76
20       J. Larsen   20       75
21       J. Larsen   28       75
22         M. Wolf   24       75
23  E. Oelschlägel   23       65
24     Mateu Morey   19       64
25      L. Balerdi   20       64
26       T. Raschl   19       60
27       D. Wanner   20       60
28     K. Bafounta   17       59
29     L. Unbehaun   18       59
30        A. Bakir   18       58
31    P. Osterhage   19       57